body{
    background-color:  hsl(47, 88%, 63%);
    font-family: figtree;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1.5fr;
    max-width: 1440px;
}
p{
    font-size: 16px;
}
main{
    grid-column: 2/3;
    background-color: white;
    padding: 15px;
    border-radius: 20px;
    margin-top: 100px;
    box-shadow: 6px  6px;
    border: 1px solid black;
    
    
}
main img{
    border-radius: 10px;
}
main h3{
    background:  hsl(47, 88%, 63%);
    padding: 10px;
    display: inline-block;
    border-radius: 10px
    
    
    
    
}
article h1:hover{
    color: hsl(47, 88%, 63%);
    cursor: pointer;
}
article p{
    color:  hsl(0, 0%, 42%)
}
section{
    padding-left: 30px;
    background: url(assets/images/image-avatar.webp) no-repeat ;
    background-size: 30px;
    background-position: 0;
}
section p{
    padding: 10px;
}
@media screen and (max-width:400px){
    body{
        grid-template-columns: 1fr;
        
    }
    main{
        width: 90%;
    }
    main img{
        max-width: 100%
    }}
@media screen and (max-width:375px){
    body{
        grid-template-columns: 1fr;
        
    }
    main{
        width: 85%;
    }
    main img{
        max-width: 100%
    }
}
